.card {
    margin: 10px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    overflow: hidden;
    cursor: pointer;
    transition: transform 100ms ease-in;
}
.card:hover {
    transform: scale(1.07);
}
.card > img {
    width: 100%;
    min-width: 300px;
    min-height: 200px;
    object-fit: cover;
}
.card__info {
    margin-top: -6px;
    border-radius: 10px;
    padding: 20px;
    padding-top: 20px;
    border: 1;
}
.card__info > h2{
    font-size: 18px;
    font-weight: 600;
}
.card__info > h4 {
    font-size: 14px;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 8px;
}